---
# OANDAd config file (YAML-formatted)
# weekdays : 0 - monday ... 6 - sunday

# daemon parameters 
# -------------------------------------
HBTIME_OUT: 10
TICKTIME_OUT: 30

# files / paths
# using paths:
#   relative: paths do not start with a /, when in a virtual environment the PREFIX
#             of the virt.env path is prepended
#   absolute: paths DO start with a /, this path is always used

daemon:
    user: oanda
    group: oanda
    # DEBUG(10), INFO(20), WARNING(30), ERROR(40), CRITICAL(50)
    loglevel: ERROR
    logfile: var/log/OANDA/OANDAd.log
    pidfile: /var/run/OANDA/OANDAd.pid      # use absolute path, it MUST have the dir before the pidfile

# Account related
# ---------------
environment: practice
domain: oanda.com
access_token: _token_from_oanda_here_
account_id: _accountid_here_

# plugins
# -------
plugins:
    plugin_path: etc/OANDA/plugins
    config_path: etc/OANDA/config/plugins
    enabled:
      - pubsub
      # to write records to a flatfile directory structure enable the plainfile plugin
      # check the plugin config to configure the root-directory
      # - plainfile

# Stream processing
# -----------------
streamer:
    ignore_heartbeat: False
    logfile: var/log/OANDA/streamdata
    date_extension_format: "%Y%m%d-%H"
    # candle processing:
    #   atEndOfTimeFrame: by default candles are considered completed when 
    #   the timeframe is completed
    # other options:
    #   dancingBear: this gives the candles each time a tick is processed
    #    (which can be a lot)
    #   dancingBearHighLowExtreme: this gives candles during the processing
    #     of a timeframe like dancingBear but then only when new extremes
    #     are set
    fabricate: dancingBearHighLowExtreme

# the daemon processes quotes during openinghours
schedule: 
    from: sunday, 23:00
    till: friday, 23:00

# timeframe reference in the instrument specification should refer to a known entry
timeframes:
    M1 : 1 Minute
    M5 : 5 Minutes
    M15: 15 Minutes

instruments:
    # ----------------------------------
    # Indices
    DE30_EUR:
      description: DAX-30 Index Germany
      timeframes:
        - M1
        - M5
        - M15

    NL25_EUR:
      description: AEX Index Amsterdam
      timeframes:
        - M1
        - M5
        - M15

    FR40_EUR:
      description: CAC-40 Index Paris
      timeframes:
        - M1
        - M5
        - M15

    NAS100_USD:
      description: NASDAQ-100 Index New York
      timeframes:
        - M1
        - M5
        - M15

    SPX500_USD:
      description: Standard & Poors 500 Index New York
      timeframes:
        - M1
        - M5
        - M15

    US30_USD:
      description: Dow Jones 30 Index New York
      timeframes:
        - M1
        - M5
        - M15

    # ----------------------------------
    # currencies
    EUR_USD:
      description: Euro / US Dollar
      timeframes:
        - M1
        - M5
        - M15

    EUR_GBP:
      description: Euro / UK. Pound Sterling
      timeframes:
        - M1
        - M5
        - M15

    EUR_CHF:
      description: Euro / Swiss Franc
      timeframes:
        - M1
        - M5
        - M15

    EUR_JPY:
      description: Euro / Japanese Yen
      timeframes:
        - M1
        - M5
        - M15

    EUR_AUD:
      description: Euro / Australian Dollar
      timeframes:
        - M1
        - M5
        - M15

    # ----------------------------------
    # bonds
    DE10YB_EUR:
      description: Germany 10 Year bond
      timeframes:
        - M1
        - M5
        - M15

    # ----------------------------------
    # commodities
    BCO_USD:
      description: Brent Crude Oil
      timeframes:
        - M1
        - M5
        - M15

